@font-face {
  font-family: "Brevis";
  src: url("/fonts/brevis/Brevis-Regular.woff2") format("woff2"),
    url("/fonts/brevis/Brevis-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
